.card{
  width:200px;
  padding:20px;
  margin:30px;
  border:1px solid rgb(84, 33, 137);
  background-color: lavender;
  display: inline-block;
  border-radius: 10px;
}
.card h1{
  font-size:15px;
  font-style: italic;
  color: pink;
  margin-top:20px;
  text-align: center;
}
.card p{
  font-size:12px;
  font-weight: bold;
  color: purple;
  text-align: center;
}
.card img{
  width: 70px;;
  height:auto;
  border:1px solid gray;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
  margin-left: 60px;
}
